body {
  font-size: 1rem; }

h1, h2 {
  margin: 1rem 0;
  font-size: 2rem; }

p {
  margin: 0.5rem 0; }

table {
  margin: 0; }

td {
  padding: 0.5rem 0 0 0; }

td:first-child {
  text-align: center; }

td:nth-child(2) {
  padding-left: 0.6rem; }

.skill {
  border: 1px gray solid;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.4rem;
  display: inline-block; }

.date {
  font-style: italic; }

.links {
  margin: 1rem 0; }
